.homeContainer {
  width: 80%;
  display: grid;
  gap: 2rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 5.5rem;
  grid-template-columns: auto minmax(auto, 300px);
}

.homeFeed {
  display: grid;
  gap: 2rem;
}

.noTweets {
  font-family: "Noto Sans";
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  font-weight: 600;
}

@media (max-width: 980px) {
  .homeContainer {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .homeSuggestions {
    visibility: hidden;
  }
}
